.history-display {
  color: #e7e9ec;

  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.history-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.history-header svg {
  margin-bottom: 8px;
}

.history-header svg:hover {
  margin-bottom: 8px;
  color: #bbbcbe;
  cursor: pointer;
}

.history-item-container {
  height: 170px;
  overflow: auto;
}

.history-item {
  border-top: 1px solid #e7e9ec;
  text-align: right;
}

.history-item:hover {
  background-color: #3b414d;
  cursor: pointer;
}

.history-result {
  font-size: 20px;
  font-weight: 600;
}
